@model ThinkPower.LabB3.Web.ViewModels.EvaQuestViewModel

@{
    ViewBag.Title = "EvaQuest";

    var riskEvaQuest = (Model != null && Model.RiskEvaQuestionnaire != null) ?
        Model.RiskEvaQuestionnaire : null;
    var questEntity = (riskEvaQuest != null) ? riskEvaQuest.QuestionnaireEntity : null;
    var questDefineEntities = (questEntity != null) ? questEntity.QuestDefineEntities : null;
    var answerDefineEntities = (questEntity != null) ? questEntity.AnswerDefineEntities : null;
}

@using (Html.BeginForm("EvaluationRank", "RiskEvaluation", FormMethod.Post))
{
    <div class="container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (questEntity != null)
        {
            <div class="question row">

                <div class="question-head col-md-12">

                    <div class="question-head-title col-md-6">
                        <span>
                            @Html.DisplayFor(x => questEntity.Name)
                        </span>
                    </div>

                    <div class="question-head-img col-md-6">
                        <img src="@questEntity.HeadBackgroundImg" alt="Alternate Text" />
                    </div>

                    <div class="question-head-descript col-md-12">
                        <span>
                            @(new HtmlString(questEntity.HeadDescription))
                        </span>
                    </div>

                </div>

                <div class="question-body col-md-12">

                    @{
                        var questDefineCount = 0;
                        foreach (var questDefine in questDefineEntities)
                        {
                            questDefineCount++;

                            <!--forloop-->
                            <div class="question-subject row"
                                 data-Uid="@questDefine.Uid"
                                 data-QuestUid="@questDefine.QuestUid"
                                 data-QuestionId="@questDefine.QuestionId"
                                 data-QuestionContent="@questDefine.QuestionContent"
                                 data-NeedAnswer="@questDefine.NeedAnswer"
                                 data-AllowNaCondition="@questDefine.AllowNaCondition"
                                 data-AnswerType="@questDefine.AnswerType"
                                 data-MinMultipleAnswers="@questDefine.MinMultipleAnswers"
                                 data-MaxMultipleAnswers="@questDefine.MaxMultipleAnswers"
                                 data-SingleAnswerCondition="@questDefine.SingleAnswerCondition"
                                 data-CountScoreType="@questDefine.CountScoreType"
                                 data-Memo="@questDefine.Memo"
                                 data-OrderSn="@questDefine.OrderSn"
                                 data-CreateUserId="@questDefine.CreateUserId"
                                 data-CreateTime="@questDefine.CreateTime"
                                 data-ModifyUserId="@questDefine.ModifyUserId"
                                 data-ModifyTime="@questDefine.ModifyTime">

                                <div class="question-subject-title col-md-12">
                                    <span>@questDefineCount.</span>
                                    <span>
                                        @Html.DisplayFor(x => questDefine.QuestionContent)
                                    </span>
                                </div>

                                <div class="question-subject-answer col-md-12">

                                    @{
                                        var answerDefineCount = 0;
                                        foreach (var answerDefine in answerDefineEntities
                                            .Where(x => x.QuestionUid == questDefine.Uid))
                                        {
                                            answerDefineCount++;

                                            <!--forloop-->
                                            <div class="question-subject-answer-content col-md-6"
                                                 data-Uid="@answerDefine.Uid"
                                                 data-QuestionUid="@answerDefine.QuestionUid"
                                                 data-AnswerCode="@answerDefine.AnswerCode"
                                                 data-AnswerContent="@answerDefine.AnswerContent"
                                                 data-Memo="@answerDefine.Memo"
                                                 data-HaveOtherAnswer="@answerDefine.HaveOtherAnswer"
                                                 data-NeedOtherAnswer="@answerDefine.NeedOtherAnswer"
                                                 data-Score="@answerDefine.Score"
                                                 data-OrderSn="@answerDefine.OrderSn"
                                                 data-CreateUserId="@answerDefine.CreateUserId"
                                                 data-CreateTime="@answerDefine.CreateTime"
                                                 data-ModifyUserId="@answerDefine.ModifyUserId"
                                                 data-ModifyTime="@answerDefine.ModifyTime">

                                                <div class="question-subject-answer-code">

                                                    @if (questDefine.AnswerType == "S")
                                                    {
                                                        @Html.RadioButton("AnswerCode", answerDefine.AnswerCode, new { @class = "" })
                                                    }
                                                    else if (questDefine.AnswerType == "M")
                                                    {
                                                        @Html.CheckBox("AnswerCode", new { @class = "" })
                                                    }
                                                    else if (questDefine.AnswerType == "F")
                                                    {
                                                        @Html.TextBox("AnswerCode", null, new { @class = "" })
                                                    }

                                                </div>

                                                <div class="question-subject-answer-descript">
                                                    <span>
                                                        @Html.DisplayFor(x => answerDefine.AnswerContent)
                                                    </span>
                                                </div>

                                            </div>

                                        }
                                    }

                                </div>

                            </div>
                        }
                    }

                </div>

                <div class="question-footer col-md-12">

                    <div class="question-footer-descript col-md-12">
                        <span>
                            @(new HtmlString(questEntity.FooterDescription))
                        </span>
                    </div>

                    <div class="question-footer-submit col-md-10 col-md-offset-5">
                        <input type="submit" value="確定" />
                    </div>

                </div>

            </div>
        }

    </div>
}


@section scripts{
    <script src="~/Scripts/EvaQuest.js"></script>
}
