@model ThinkPower.LabB3.Web.ViewModels.EvaQuestViewModel

@{
    ViewBag.Title = "EvaQuest";

    var riskEvaQuest = (Model != null && Model.RiskEvaQuestionnaire != null) ?
        Model.RiskEvaQuestionnaire : null;
    var questEntity = (riskEvaQuest != null) ? riskEvaQuest.QuestionnaireEntity : null;
    var questDefineEntities = (questEntity != null) ? questEntity.QuestDefineEntities : null;
    var answerDefineEntities = (questEntity != null) ? questEntity.AnswerDefineEntities : null;
}

@using (Html.BeginForm("EvaluationRank", "RiskEvaluation", FormMethod.Post, new { @class = "EvaQuestForm" }))
{
    <div class="container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (questEntity != null)
        {
            <div class="question row"
                 data-Uid="@questEntity.Uid"
                 data-QuestId="@questEntity.QuestId"
                 data-Version="@questEntity.Version"
                 data-Kind="@questEntity.Kind"
                 data-Name="@questEntity.Name"
                 data-Memo="@questEntity.Memo"
                 data-Ondate="@questEntity.Ondate"
                 data-Offdate="@questEntity.Offdate"
                 data-NeedScore="@questEntity.NeedScore"
                 data-QuestScore="@questEntity.QuestScore"
                 data-ScoreKind="@questEntity.ScoreKind"
                 data-HeadBackgroundImg="@questEntity.HeadBackgroundImg"
                 data-HeadDescription="@questEntity.HeadDescription"
                 data-FooterDescription="@questEntity.FooterDescription"
                 data-CreateUserId="@questEntity.CreateUserId"
                 data-CreateTime="@questEntity.CreateTime"
                 data-ModifyUserId="@questEntity.ModifyUserId"
                 data-ModifyTime="@questEntity.ModifyTime">

                <div class="question-head col-md-12">

                    <div class="question-head-title col-md-6">
                        <span>
                            @Html.DisplayFor(x => questEntity.Name)
                        </span>
                    </div>

                    <div class="question-head-img col-md-6">
                        <img src="@questEntity.HeadBackgroundImg" alt="Alternate Text" />
                    </div>

                    <div class="question-head-descript col-md-12">
                        <span>
                            @(new HtmlString(questEntity.HeadDescription))
                        </span>
                    </div>

                </div>

                <div class="question-body col-md-12">

                    @{
                        var questDefineCount = 0;
                        foreach (var questDefine in questDefineEntities)
                        {
                            questDefineCount++;

                            <!--forloop-->
                            <div class="question-subject col-md-12"
                                 data-Uid="@questDefine.Uid"
                                 data-QuestUid="@questDefine.QuestUid"
                                 data-QuestionId="@questDefine.QuestionId"
                                 data-QuestionContent="@questDefine.QuestionContent"
                                 data-NeedAnswer="@questDefine.NeedAnswer"
                                 data-AllowNaCondition="@questDefine.AllowNaCondition"
                                 data-AnswerType="@questDefine.AnswerType"
                                 data-MinMultipleAnswers="@questDefine.MinMultipleAnswers"
                                 data-MaxMultipleAnswers="@questDefine.MaxMultipleAnswers"
                                 data-SingleAnswerCondition="@questDefine.SingleAnswerCondition"
                                 data-CountScoreType="@questDefine.CountScoreType"
                                 data-Memo="@questDefine.Memo"
                                 data-OrderSn="@questDefine.OrderSn"
                                 data-CreateUserId="@questDefine.CreateUserId"
                                 data-CreateTime="@questDefine.CreateTime"
                                 data-ModifyUserId="@questDefine.ModifyUserId"
                                 data-ModifyTime="@questDefine.ModifyTime">

                                <div class="question-subject-head col-md-12">

                                    <div class="question-subject-head-no">
                                        <span>@questDefineCount.</span>
                                    </div>

                                    <div class="question-subject-head-descript">
                                        <span>
                                            @Html.DisplayFor(x => questDefine.QuestionContent)
                                        </span>
                                    </div>

                                </div>

                                <div class="question-subject-body col-md-12">

                                    @{
                                        var answerDefineCount = 0;
                                        foreach (var answerDefine in answerDefineEntities
                                            .Where(x => x.QuestionUid == questDefine.Uid))
                                        {
                                            answerDefineCount++;

                                            <!--forloop-->
                                            <div class="question-answer col-md-6"
                                                 data-Uid="@answerDefine.Uid"
                                                 data-QuestionUid="@answerDefine.QuestionUid"
                                                 data-AnswerCode="@answerDefine.AnswerCode"
                                                 data-AnswerContent="@answerDefine.AnswerContent"
                                                 data-Memo="@answerDefine.Memo"
                                                 data-HaveOtherAnswer="@answerDefine.HaveOtherAnswer"
                                                 data-NeedOtherAnswer="@answerDefine.NeedOtherAnswer"
                                                 data-Score="@answerDefine.Score"
                                                 data-OrderSn="@answerDefine.OrderSn"
                                                 data-CreateUserId="@answerDefine.CreateUserId"
                                                 data-CreateTime="@answerDefine.CreateTime"
                                                 data-ModifyUserId="@answerDefine.ModifyUserId"
                                                 data-ModifyTime="@answerDefine.ModifyTime">

                                                <div class="question-answer-code">

                                                    @if (questDefine.AnswerType == "S")
                                                    {
                                                        @Html.RadioButton($"AnswerCode_{questDefineCount}", answerDefine.AnswerCode,
                                                       new
                                                       {
                                                           @class = "",
                                                           data_AnswerCode = answerDefine.AnswerCode,
                                                           data_QuestionId = questDefine.QuestionId
                                                       })
                                                    }
                                                    else if (questDefine.AnswerType == "M")
                                                    {
                                                        @Html.CheckBox($"AnswerCode_{questDefineCount}",
                                                       new {
                                                           @class = "",
                                                           data_AnswerCode = answerDefine.AnswerCode,
                                                           data_QuestionId = questDefine.QuestionId
                                                       })
                                                    }
                                                    else if (questDefine.AnswerType == "F")
                                                    {
                                                        @Html.TextBox($"AnswerCode_{questDefineCount}", null,
                                                       new
                                                       {
                                                           @class = "",
                                                           data_AnswerCode = answerDefine.AnswerCode,
                                                           data_QuestionId = questDefine.QuestionId
                                                       })
                                                    }

                                                </div>

                                                <div class="question-answer-descript">
                                                    <span>
                                                        @Html.DisplayFor(x => answerDefine.AnswerContent)
                                                    </span>
                                                </div>

                                            </div>

                                        }
                                    }

                                </div>

                                <div class="question-subject-footer col-md-12">

                                    <div class="question-subject-footer-tip col-md-12">
                                        <span></span>
                                    </div>

                                </div>

                            </div>
                        }
                    }

                </div>

                <div class="question-footer col-md-12">

                    <div class="question-footer-descript col-md-12">
                        <span>
                            @(new HtmlString(questEntity.FooterDescription))
                        </span>
                    </div>

                    <div class="question-footer-submit col-md-10 col-md-offset-5">
                        <input type="button" value="確定" />
                    </div>

                    <div class="question-footer-test col-md-10 col-md-offset-5">
                        <input type="button" value="測試" />
                    </div>

                </div>

            </div>
        }

    </div>
}


@section scripts{
    <script src="~/Scripts/EvaQuest.js"></script>
}
