<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <div class="row layout-header">
            <div class="col">
                <h1>LabB3</h1>
            </div>
            <div class="col align-self-end text-right">
                <h6>| 首頁 | 關於 | 登出 |</h6>
            </div>
        </div>

        <div class="row layout-body">
            <div class="col-auto layout-body-left">
                <div class="row">
                    <div class="col layout-body-left-item">
                        <img src="~/Images/arrow-pointing-to-right.svg" />
                        <a href="#" id="options-fndre001" data-quest-id="FNDRE001">風險評估問卷(1)</a>
                        @*@Html.ActionLink("風險評估問卷(1)", "EvaQuest", "RiskEvaluation",
                            new { QuestId = "FNDRE001" }, new { @class = "" })*@
                    </div>
                </div>
                <div class="row">
                    <div class="col layout-body-left-item">
                        <img src="~/Images/arrow-pointing-to-right.svg" />
                        <a href="#" id="options-fndre002" data-quest-id="FNDRE002">風險評估問卷(2)</a>
                        @*@Html.ActionLink("風險評估問卷(2)", "EvaQuest", "RiskEvaluation",
                            new { QuestId = "FNDRE002" }, new { @class = "" })*@
                    </div>
                </div>
            </div>

            <div class="col layout-body-right">
                <div id="result-partial-view" class="fullHeight">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="row layout-footer">
            <div class="col">
                <h6>LabB3 Inc. All Rights Reserved</h6>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/think-power-resource")

    <script>

        var questionIndex = 0;
        var questionList = null;
        var answerDetailList = null;
        const urlInfo = {
            evaQuestV2: '/RiskEvaluation/EvaQuestV2',
            acceptRiskRankV2: '/RiskEvaluation/AcceptRiskRankV2',
            evaluationRankV2: '/RiskEvaluation/EvaluationRankV2',
        };


        $(document).ready(function () {

            $('#options-fndre001').on('click', function () {

                bindingLayout($(this).data('questId'));
            });

            $('#options-fndre002').on('click', function () {

                bindingLayout($(this).data('questId'));
            });

        });


        function loadPartialView(type, url, data) {

            return callAjax(type, url, data);
        }

        function acceptRiskRank(type, url, data) {

            return callAjax(type, url, data);
        }

        function callAjax(type, url, data) {

            let resultInfo = { success: false, errorMsg: null, info: null, isJson: false };

            $.ajax({
                type: type,
                url: url,
                data: data,
                cache: false,
                async: false,
                success: function (result) {

                    resultInfo.success = true;
                    if (result.isJson) {

                        resultInfo.isJson = true;
                        resultInfo.info = result.validateInfo;

                    } else {

                        resultInfo.info = result;
                    }
                },
                error: function () {
                    resultInfo.errorMsg = '<div class="validation-summary-errors text-danger"><ul><li>系統發生錯誤，請於上班時段來電客服中心0800-015-000，造成不便敬請見諒。</li></ul ></div >';
                }
            });

            return resultInfo;
        }

        function bindingLayout(questId) {

            let resultInfo = loadPartialView('get', urlInfo.evaQuestV2, { QuestId: questId });

            if (!resultInfo.success) {

                $("#result-partial-view").empty().append(resultInfo.errorMsg);

            } else {

                $("#result-partial-view").empty().append(resultInfo.info);
                bindingEvaQuestV2();
            }
        }

        function bindingEvaQuestV2(errorQuestionIndex) {

            hideTip();

            questionIndex = (errorQuestionIndex) ? errorQuestionIndex : 0;
            questionList = $('[id*=question]');
            answerDetailList = getAnswerDetailInfoList();

            toggleQuestion();

            if (!errorQuestionIndex && errorQuestionIndex !== 0) {
                bindingButtonEvent();
            }
        }

        function bindingEvaluationRankV2() {

            let resultInfo = null;

            let modal = $('#tip-message-modal').find('.modal-body');

            if (modal.length > 0 && modal.html().trim()) {
                showModalMsg();
            }

            $('#re-evaluation').click(function () {

                resultInfo = loadPartialView('get', urlInfo.evaQuestV2,
                    { QuestId: $('#QuestId').val() },
                );

                if (!resultInfo.success) {

                    $("#result-partial-view").empty().append(resultInfo.errorMsg);

                } else {

                    $("#result-partial-view").empty().append(resultInfo.info);
                    bindingEvaQuestV2();
                }
            });

            $('#submit').click(function () {

                resultInfo = acceptRiskRank('get', urlInfo.acceptRiskRankV2,
                    { QuestAnswerId: $('#QuestAnswerId').val() },
                );

                if (!resultInfo.success) {

                    $("#result-partial-view").empty().append(resultInfo.errorMsg);

                } else {

                    $(".eva-rank-container").empty();
                    setModalMsg(resultInfo.info.replace(/"/g, ''));
                    showModalMsg();
                }
            });
        }

        function bindingButtonEvent() {

            $('#button-prev').on('click', function () {

                questionHandler('prev');
            });

            $('#button-next').on('click', function () {

                questionHandler('next');
            });

            $('#button-done').on('click', function () {

                questionHandler('done');
            });
        }

        function questionHandler(action) {

            let question = answerDetailList[questionIndex];
            let validateResult = validateRuleV2(question, answerDetailList);
            toggleTip(question, validateResult);

            if (!validateResult) {

                if (action === 'prev') {

                    questionIndex = (questionIndex > 0) ? (questionIndex - 1) : 0;

                    toggleQuestion();

                } else if (action === 'next') {

                    questionIndex = (questionIndex < (questionList.length - 1)) ?
                        (questionIndex + 1) : questionIndex;

                    toggleQuestion();

                } else if (action === 'done') {

                    if (validateRule(answerDetailList)) {

                        let resultInfo = loadPartialView('post', urlInfo.evaluationRankV2,
                            getQuestionAnswer(),
                        );

                        if (!resultInfo.success) {

                            $("#result-partial-view").empty().append(resultInfo.errorMsg);

                        } else if (resultInfo.isJson) {

                            let errorQuestionIndex = null;

                            $.each(resultInfo.info, function (id, msg) {

                                let question = answerDetailList.filter(function (i, e) {

                                    let state = (e.datas.questionId === id);

                                    if (state && errorQuestionIndex === null) {
                                        errorQuestionIndex = i;
                                    }

                                    return state;
                                })[0];

                                toggleTip(question, msg);

                            });

                            bindingEvaQuestV2(errorQuestionIndex);

                        } else {

                            $("#result-partial-view").empty().append(resultInfo.info);

                            bindingEvaluationRankV2();
                        }
                    }
                }
            }
        }

        function toggleQuestion() {

            questionList.hide();
            questionList.eq(questionIndex).show();

            if (questionIndex === 0) {

                $('#button-prev').hide();
                $('#button-next').show();
                $('#button-done').hide();

            } else if (questionIndex === (questionList.length - 1)) {

                $('#button-prev').show();
                $('#button-next').hide();
                $('#button-done').show();

            } else {

                $('#button-prev').show();
                $('#button-next').show();
                $('#button-done').hide();
            }
        }

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
