<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <div class="row layout-header">
            <div class="col">
                <h1>LabB3</h1>
            </div>
            <div class="col align-self-end text-right">
                <h6>| 首頁 | 關於 | 登出 |</h6>
            </div>
        </div>

        <div class="row layout-body">
            <div class="col-auto layout-body-left">
                <div class="row">
                    <div class="col layout-body-left-item">
                        <img src="~/Images/arrow-pointing-to-right.svg" />
                        <a href="#" id="options-fndre001" data-quest-id="FNDRE001">風險評估問卷(1)</a>
                        @*@Html.ActionLink("風險評估問卷(1)", "EvaQuest", "RiskEvaluation",
                            new { QuestId = "FNDRE001" }, new { @class = "" })*@
                    </div>
                </div>
                <div class="row">
                    <div class="col layout-body-left-item">
                        <img src="~/Images/arrow-pointing-to-right.svg" />
                        <a href="#" id="options-fndre002" data-quest-id="FNDRE002">風險評估問卷(2)</a>
                        @*@Html.ActionLink("風險評估問卷(2)", "EvaQuest", "RiskEvaluation",
                            new { QuestId = "FNDRE002" }, new { @class = "" })*@
                    </div>
                </div>
            </div>

            <div class="col layout-body-right">
                <div id="result-partial-view" class="fullHeight">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="row layout-footer">
            <div class="col">
                <h6>LabB3 Inc. All Rights Reserved</h6>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/think-power-resource")

    <script>

        var currentQuestionIndex = 0;
        var currentPageQuestionList = null;
        var currentPageAnswerDetailList = null;

        $(document).ready(function () {

            $('#options-fndre001').on('click', function () {

                bindingPageEvent('_Layout', $(this));
            });

            $('#options-fndre002').on('click', function () {

                bindingPageEvent('_Layout', $(this));
            });

        });


        function loadPartialView(type, url, data) {

            return callAjax(type, url, data);
        }

        function getJsonResult(type, url, data) {

            return callAjax(type, url, data);
        }

        function callAjax(type, url, data) {

            let resultInfo = { success: false, errorMsg: null, info: null };

            $.ajax({
                type: type,
                url: url,
                data: data,
                cache: false,
                async: false,
                success: function (result) {

                    resultInfo.success = true;
                    resultInfo.info = result;
                },
                error: function () {
                    resultInfo.errorMsg = "系統發生錯誤。";
                }
            });

            return resultInfo;
        }

        function bindingPageEvent(pageName,elem) {

            let resultInfo = null;

            if (pageName === '_Layout') {

                resultInfo = loadPartialView(
                    'get',
                    '@Url.Action("EvaQuestV2", "RiskEvaluation")',
                    { QuestId: elem.data('questId') }
                );

                if (!resultInfo.success) {

                    console.log(resultInfo.errorMsg);

                } else {

                    $("#result-partial-view").empty().append(resultInfo.info);
                    bindingPageEvent('EvaQuestV2');
                }

            } else if (pageName === 'EvaQuestV2') {

                hideTip();

                currentQuestionIndex = 0;
                currentPageQuestionList = $('[id*=question]');
                currentPageAnswerDetailList = getAnswerDetailList();

                currentPageQuestionList.hide();
                $('#button-prev').hide();
                $('#button-next').hide();
                $('#button-done').hide();

                if (checkQuestValidateFailInfoExist()) {

                    let validateFailInfoList = currentPageQuestionList.filter(function () {
                        let span = $(this).find('.question-subject-footer-tip>span');
                        return (span.length > 0 && span.html().trim());
                    });

                    if (validateFailInfoList.length > 0) {

                        currentPageQuestionList.filter(function (index, element) {

                            if (element.id === validateFailInfoList[0].id) {
                                currentQuestionIndex = index;
                            }
                        });
                    }
                }

                showQuestionAndButton();

                bindingButtonEvent();

            } else if (pageName === 'EvaluationRankV2') {

                let modal = $('#tip-message-modal').find('.modal-body');

                if (modal.length > 0 && modal.html().trim()) {
                    showModalMsg();
                }

                $('#re-evaluation').click(function () {

                    resultInfo = loadPartialView(
                        'get',
                        '@Url.Action("EvaQuestV2", "RiskEvaluation")',
                        $('#re-evaluation-form').serialize(),
                    );

                    if (!resultInfo.success) {

                        console.log(resultInfo.errorMsg);

                    } else {

                        $("#result-partial-view").empty().append(resultInfo.info);
                        bindingPageEvent('EvaQuestV2');
                    }
                });

                $('#submit').click(function () {

                    resultInfo = getJsonResult(
                        'get',
                        '@Url.Action("AcceptRiskRankV2", "RiskEvaluation")',
                        $('#submit-evaluation-form').serialize(),
                    );

                    if (!resultInfo.success) {

                        console.log(resultInfo.errorMsg);

                    } else {

                        $(".eva-rank-container").empty();
                        setModalMsg(resultInfo.info.replace(/"/g, ''));
                        showModalMsg();
                    }
                });

            } else {

                alert(pageName + "找不到此頁面。");
            }
        }

        function bindingButtonEvent() {

            $('#button-prev').on('click', function () {

                questionHandler('prev');
            });

            $('#button-next').on('click', function () {

                questionHandler('next');
            });

            $('#button-done').on('click', function () {

                questionHandler('done');
            });
        }

        function questionHandler(action) {

            let validateResult = validateRuleV2(currentPageAnswerDetailList[currentQuestionIndex],
                    currentPageAnswerDetailList);

            if (validateResult) {

                if (action === 'prev') {

                    currentQuestionIndex = (currentQuestionIndex > 0) ? (currentQuestionIndex - 1) : 0;

                    showQuestionAndButton();

                } else if (action === 'next') {

                    currentQuestionIndex = (currentQuestionIndex < (currentPageQuestionList.length - 1)) ?
                        (currentQuestionIndex + 1) : currentQuestionIndex;

                    showQuestionAndButton();

                } else if (action === 'done') {

                    if (validateRule(currentPageAnswerDetailList)) {

                        resultInfo = loadPartialView(
                            'post',
                            '@Url.Action("EvaluationRankV2", "RiskEvaluation")',
                            $('#evaQuestForm').serialize()
                        );

                        if (!resultInfo.success) {

                            console.log(resultInfo.errorMsg);

                        } else {

                            $("#result-partial-view").empty().append(resultInfo.info);



                            if (checkQuestValidateFailInfoExist()) {

                                bindingPageEvent('EvaQuestV2');

                            } else {

                                bindingPageEvent('EvaluationRankV2');
                            }
                        }
                    }
                }
            }
        }

        function  checkQuestValidateFailInfoExist() {

            return ($('#questEntity').length > 0 &&
                    $('#questEntity').data('questValidateFailInfo'));
        }

        function showQuestionAndButton() {

            currentPageQuestionList.hide();
            currentPageQuestionList.eq(currentQuestionIndex).show();

            if (currentQuestionIndex === 0) {

                $('#button-prev').hide();
                $('#button-next').show();
                $('#button-done').hide();

            } else if (currentQuestionIndex === (currentPageQuestionList.length - 1)) {

                $('#button-prev').show();
                $('#button-next').hide();
                $('#button-done').show();

            } else {

                $('#button-prev').show();
                $('#button-next').show();
                $('#button-done').hide();
            }
        }

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
