<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <div class="row layout-header">
            <div class="col">
                <h1>LabB3</h1>
            </div>
            <div class="col align-self-end text-right">
                <h6>| 首頁 | 關於 | 登出 |</h6>
            </div>
        </div>

        <div class="row layout-body">
            <div class="col col-md-auto layout-body-left">
                <div class="row">
                    <div class="col layout-body-left-item">
                        <img src="~/Images/arrow-pointing-to-right.svg" />
                        @Html.ActionLink("風險評估問卷(1)", "EvaQuest", "RiskEvaluation",
                            new { QuestId = "FNDRE001" }, new { @class = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="col layout-body-left-item">
                        <img src="~/Images/arrow-pointing-to-right.svg" />
                        @Html.ActionLink("風險評估問卷(2)", "EvaQuest", "RiskEvaluation",
                            new { QuestId = "FNDRE002" }, new { @class = "" })
                    </div>
                </div>
            </div>

            <div class="col layout-body-right">
                @RenderBody()
            </div>
        </div>

        <div class="row layout-footer">
            <div class="col">
                <h6>LabB3 Inc. All Rights Reserved</h6>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
